# [gcode_macro M73]
# rename_existing: M990073
# gcode:
# 	{% if params.R and printer.print_stats.total_duration > 100*60 %}
# 		M990073 P{(params.R|int)*60 / printer.print_stats.total_duration}
# 	{% else %}
# 		M990073 P{params.P}
# 	{% endif %}
#     M117 { "%dh %02dm" % (params.R|int // 60, (params.R|int) % 60) } remaining
